@import "base";

body {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    background: linear-gradient(180deg, #010001 32.87%, #060006 43.41%, #010001 55.73%, #050105 69.79%, #0B000C 100%);
}

header {
    width: 100%;
    position: relative;
    height: 870px;



    .img_container {
        width: 100%;
        height: 870px;

        .image {
            position: absolute;
            top: 160px;
            left: 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            overflow: hidden;
            width: 1100px;
            height: 570px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #000000 80%, #000000 100%);
            padding-left: 360px;
            box-sizing: border-box;
            background: url(../img/channel_background.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;

            .txt_box {

                margin-top: 60px;

                .txt {
                    &>h1 {
                        color: #fff;
                        font-size: 44px;
                        line-height: 56px;
                    }

                    &>h2 {
                        color: #E4E4E4;
                        font-size: 24px;
                        line-height: 16px;
                        margin-top: 20px;
                        font-weight: 300;
                    }
                }

                .channel_box {
                    margin-top: 92px;
                    width: 400px;

                    height: 100px;

                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;

                    .channel {
                        width: 80px;
                        height: 80px;
                        border-radius: 100%;
                        background-image: url(../img/channel1.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    .channel_txt {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: flex-start;
                        margin-left: 16px;

                        h1 {
                            color: #fff;
                            font-size: 28px;
                            line-height: 32px;
                            font-weight: 500;
                        }

                        h2 {
                            color: #E4E4E4;
                            font-size: 16px;
                            line-height: 20px;
                            margin-top: 8px;
                            font-weight: 300;
                        }
                    }
                }

                .winner_box {
                    width: 580px;
                    height: 40px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    margin-top: 16px;

                    &>div {
                        font-size: 14px;
                        border-radius: 20px;
                        border: 1px solid rgb(220, 220, 220);
                        box-sizing: border-box;
                        padding: 0 16px;
                        margin-right: 26px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        color: rgb(220, 220, 220);

                        &>.circle {
                            width: 16px;
                            height: 16px;
                            border-radius: 8px;
                            margin-right: 8px;

                            &.pink {
                                background: #BD19C0;
                            }

                            &.blue {
                                background: #003EC2;
                            }

                            &.red {
                                background: #990A0A;
                            }
                        }
                    }
                }
            }
        }

        .song_container {
            position: absolute;
            top: 160px;
            right: 360px;
            width: 400px;
            height: 570px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            .song_box {
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.1);
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                height: 86px;
                padding: 0 24px;
                box-sizing: border-box;

                &:nth-child(1) .channel {
                    background: url(../img/a1.png);
                }

                &:nth-child(2) .channel {
                    background: url(../img/a2.png);
                }

                &:nth-child(3) .channel {
                    background: url(../img/a3.png);
                }

                &:nth-child(4) .channel {
                    background: url(../img/a4.png);
                }

                &:nth-child(5) .channel {
                    background: url(../img/a5.png);
                }

                .info {

                    width: 300px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;

                    .channel {
                        margin-right: 16px;
                        width: 70px;
                        height: 70px;
                        border-radius: 40px;


                    }

                    .txt {
                        text-shadow: none;

                        h1 {
                            font-size: 20px;
                            color: #fff;
                            font-weight: 500;
                            margin-bottom: 4px;
                        }

                        h2 {
                            font-size: 14px;
                            color: rgb(216, 216, 216);
                            font-weight: 300;
                        }
                    }
                }

                .play {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    border: 1px solid #fff;
                    background: url(../img/play.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 20px 20px;
                }
            }

        }
    }

    .background {
        z-index: -100;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 894px;
        background: linear-gradient(90deg, #00236F 0%, #410142 100%);
        // backdrop-filter: blur(4px);
        /* Note: backdrop-filter has minimal browser support */
        margin-top: 0;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}

main {
    width: 100%;
    //overflow: hidden;
    // z-index: 1;

    section {
        width: 100%;
        box-sizing: border-box;
        padding: 0 360px;
        margin-bottom: 138px;
        overflow: hidden;

        &>h1,
        &>div>h1 {
            font-size: 20px;
            color: #fff;
            font-weight: 600;
            margin-bottom: 24px;
        }

        &>nav {
            width: 440px;
            height: 40px;
            margin-bottom: 24px;
            background: rgba(0, 0, 0, 0.1);
            //border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.13);
            backdrop-filter: blur(50px);
            //padding: 4px 6px;
            /* Note: backdrop-filter has minimal browser support */
            margin-bottom: 80px;
            border-radius: 10px;

            &>ul {
                padding-left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                li {
                    list-style: none;
                    width: 33%;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 10px;
                    color: #fff;
                    font-size: 14px;

                    &:first-child {
                        background: #003EC2;
                    }

                    .active {
                        background: #003EC2;
                    }
                }

            }
        }
    }

    .channel_section {
        position: relative;
        box-sizing: border-box;

        .one {
            width: 100%;
            overflow: hidden;

            .item_container {
                margin-bottom: 64px;

                .items {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    align-items: center;
                    overflow: hidden;

                    .item {
                        width: 282px;
                        flex: 0 1 23%;

                        img {
                            width: 100%;
                        }

                        .txt_container {
                            width: 100%;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-start;
                            align-items: flex-start;
                            margin-top: 8px;

                            .channel1 {
                                background: url(../img/channel1.png);
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }

                            .channel2 {
                                background: url(../img/channel2.png);
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }

                            .channel3 {
                                background: url(../img/channel3.png);
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }

                            .channel4 {
                                background: url(../img/channel4.png);
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }

                            .channel {
                                width: 40px;
                                height: 40px;
                                border-radius: 100%;
                            }

                            .txt {
                                display: flex;
                                flex-flow: column nowrap;
                                width: 220px;
                                justify-content: flex-start;
                                margin-left: 8px;

                                h1 {
                                    font-size: 14px;
                                    color: #fff;
                                    font-weight: 300;
                                    line-height: 16px;
                                    margin: 0;
                                }

                                h2 {
                                    font-size: 12px;
                                    color: #C2C2C2;
                                    font-weight: 300;
                                    line-height: 14px;
                                }
                            }
                        }
                    }
                }
            }

            .song_container {
                width: 100%;

                .items {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;

                    .item {
                        flex: 0 1 14%;

                        img {
                            width: 100%;
                            border-radius: 10px;
                        }

                        .txt {
                            text-align: center;

                            h1 {
                                color: #fff;
                                font-size: 14px;
                                line-height: 16px;
                                margin-bottom: 8px;
                            }

                            h2 {
                                color: #9C9C9C;
                                font-size: 12px;
                                line-height: 16px;
                                font-weight: 400;
                            }
                        }
                    }


                }

            }
        }

        .two {
            .item_container {
                width: 100%;
                overflow: hidden;
                position: relative;

                .input_box {
                    width: 920px;
                    position: relative;
                    top: 0;
                    left: 250px;

                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 10px;

                    label {
                        display: block;
                        width: 100%;
                        line-height: 40px;
                        color: #fff;
                        padding-left: 16px;
                        box-sizing: border-box;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    }

                    &>div {
                        width: 100%;
                        overflow: hidden;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-around;
                        align-items: flex-end;


                        .inputing {
                            width: 100%;
                            height: 150px;
                            display: flex;
                            flex-flow: row nowrap;
                            margin-top: 16px;
                            margin-left: 16px;
                            justify-content: flex-start;

                            .channel {
                                width: 70px;
                                height: 70px;
                                border-radius: 35px;
                                background: url(../img/channel1.png);
                                margin-left: 16px;
                            }

                            textarea {
                                width: 70%;
                                height: 100px;
                                resize: none;
                                background: rgba(0, 0, 0, 0);
                                margin-left: 16px;
                                border: none;
                                color: #fff;

                                &::placeholder {
                                    background: rgba(0, 0, 0, 0);
                                    border: none;
                                    font-size: 12px;
                                }

                                &:focus {
                                    outline: none;
                                }


                            }
                        }

                        .btn_container {
                            width: 20%;
                            height: 30px;
                            display: flex;
                            flex-flow: row nowrap;
                            font-size: 12px;
                            color: #fff;
                            text-align: center;
                            margin-right: 16px;
                            margin-bottom: 16px;

                            .btn1 {
                                border-radius: 4px;
                                width: 114px;
                                line-height: 30px;
                                background: #424242;
                            }

                            .btn2 {
                                width: 130px;
                                line-height: 30px;
                                background:
                                    #0046DA;
                                border-radius: 4px;
                                margin-left: 8px;
                            }
                        }
                    }


                }
            }
        }
    }
}

footer {
    background: #0E0E0E;
    width: 100%;
    height: 235px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    &>div {
        &:first-child {
            height: 58px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
            border-bottom: 1px solid #4D4D4D;
            padding: 0 360px;
            box-sizing: border-box;

            .footer_nav {
                width: 280px;
                height: 100%;
                font-size: 14px;
                color: #989898;
                font-weight: 500;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

            }

        }

        &:last-child {
            padding: 0 240px;
            box-sizing: border-box;
            margin-top: 30px;

            &>ul {
                display: flex;
                flex-flow: row nowrap;
                color: #989898;
                list-style: none;
                justify-content: space-between;
                align-items: center;

                &.one {

                    width: 800px;
                    font-size: 12px;
                    margin-bottom: 8px;

                    li {
                        position: relative;


                        &::after {
                            content: "|";
                            position: absolute;
                            top: 50%;
                            right: -14px;
                            transform: translateY(-50%);
                        }
                    }
                }

                &.two {
                    width: 1000px;
                    font-size: 12px;
                    margin-bottom: 8px;
                }

                &.three {
                    width: 700px;
                    font-size: 12px;

                }
            }
        }
    }
}