@import "base";

body {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    background: linear-gradient(180deg, #010001 32.87%, #060006 43.41%, #010001 55.73%, #050105 69.79%, #0B000C 100%);
}

header {
    width: 100%;
    height: 440px;

    nav.gnb {


        .main_nav {

            li {

                &:nth-child(4) {
                    a {
                        color: #003EC2;
                        font-weight: 900;
                    }

                }
            }
        }
    }

    .img_container {
        z-index: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        margin: 0px auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .black {
            position: absolute;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #000000 80%, #000000 100%);
            padding: 0 360px;
            box-sizing: border-box;
            //z-index: -10;

            .txt_box {
                margin-top: 242px;

                h1 {

                    color: #fff;
                    font-size: 44px;
                    line-height: 56px;

                    span {
                        text-shadow: none;
                        padding: 0 8px;
                        box-sizing: border-box;
                        background: #fff;
                        color: #003EC2;
                        line-height: 50px;
                        font-weight: 900;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    }
                }

                h2 {
                    color: #E4E4E4;
                    font-size: 16px;
                    line-height: 16px;
                    margin-top: 20px;
                    font-weight: 300;
                }
            }
        }

        .background-image {
            z-index: -1;
            width: 100%;
            // background: url(../img/indieOn_background.pngs);
        }
    }

}

main {
    width: 100%;
    //overflow: hidden;
    // z-index: 1;

    section {
        width: 100%;
        box-sizing: border-box;
        padding: 0 360px;
        margin-bottom: 138px;
        overflow: hidden;

        &>h1 {
            font-size: 20px;
            color: #fff;
            font-weight: 600;
            margin-bottom: 24px;
        }

        &>nav {
            &.main_nav {
                width: 440px;
                height: 40px;
                margin-bottom: 24px;

                &>ul {
                    padding-left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        list-style: none;
                        width: 33%;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 10px;
                        color: #fff;
                        font-size: 14px;

                        &:first-child {
                            background: #003EC2;
                        }

                        .active {
                            background: #003EC2;
                        }
                    }
                }
            }

            &.sub_nav {
                width: 240px;
                height: 30px;
                margin-bottom: 32px;

                &>ul {
                    padding-left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        list-style: none;
                        width: 33%;
                        text-align: center;
                        line-height: 30px;
                        font-size: 13px;
                        color: #9E9E9E;

                        &:first-child {
                            color: #fff;
                        }

                        .active {
                            color: #fff;
                        }
                    }
                }
            }



        }
    }

    .song_section {
        position: relative;
        box-sizing: border-box;
        margin-top: 200px;

        .title {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;

            h1 {
                font-size: 32px;
                color: #fff;
                line-height: 36px;

            }

            h2 {
                font-size: 14px;
                line-height: 20px;
                color: #C1C0C0;
                font-weight: 300;
                letter-spacing: 1.2px;
            }
        }

        .items {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;

            .item {
                flex: 0 1 23%;
                width: 282px;
                height: 420px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                border-radius: 10px;

                &:nth-child(4n) {
                    background: linear-gradient(90deg, #000D2B 0%, #310132 100%);

                }

                &:nth-child(4n+1) {
                    background: linear-gradient(90deg, #350536 0%, #000D2B 100%);
                }

                &:nth-child(4n+2) {
                    background: linear-gradient(90deg, #000D2B 0%, #310132 100%);

                }

                &:nth-child(4n+3) {
                    background: linear-gradient(90deg, #310132 7.19%, #000D2B 100%);

                }

                margin-bottom: 24px;

                .txt {
                    width: 100%;
                    height: 170px;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 16px;
                    box-sizing: border-box;
                    text-align: center;

                    h1 {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 600;
                        color: #fff;
                        margin-bottom: 16px;
                        margin-top: 8px;
                    }

                    h2 {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        color: #D9D9D9;
                        margin-bottom: 24px;
                    }

                    .btn {
                        width: 128px;
                        height: 32px;
                        border: 1px solid #9F9F9F;
                        border-radius: 16px;

                        color: #A6A6A6;
                        line-height: 32px;
                        font-size: 10px;

                    }
                }
            }
        }
    }

}

footer {
    background: #0E0E0E;
    width: 100%;
    height: 235px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    &>div {
        &:first-child {
            height: 58px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
            border-bottom: 1px solid #4D4D4D;
            padding: 0 360px;
            box-sizing: border-box;

            .footer_nav {
                width: 280px;
                height: 100%;
                font-size: 14px;
                color: #989898;
                font-weight: 500;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

            }

        }

        &:last-child {
            padding: 0 360px;
            box-sizing: border-box;
            margin-top: 30px;

            &>ul {
                display: flex;
                flex-flow: row nowrap;
                color: #989898;
                list-style: none;
                justify-content: space-between;
                align-items: center;

                &.one {

                    width: 800px;
                    font-size: 12px;
                    margin-bottom: 8px;

                    li {
                        position: relative;


                        &::after {
                            content: "|";
                            position: absolute;
                            top: 50%;
                            right: -14px;
                            transform: translateY(-50%);
                        }
                    }
                }

                &.two {
                    width: 1000px;
                    font-size: 12px;
                    margin-bottom: 8px;
                }

                &.three {
                    width: 700px;
                    font-size: 12px;

                }
            }
        }
    }
}