@import "base";


body {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    //width: 100%;

    overflow-x: hidden;
    background: linear-gradient(180deg, #010001 32.87%, #060006 43.41%, #010001 55.73%, #050105 69.79%, #0B000C 100%);

    &>.img_container {
        width: 100%;

        overflow-x: hidden;

        .guitar {
            position: absolute;
            top: 1350px;
            left: -100px;
            z-index: -100;
        }

        .audio {
            position: absolute;
            top: 2001px;
            right: 0;
            z-index: -100;
        }
    }
}




header {
    width: 100%;
    height: 440px;


    .video {
        z-index: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        margin: 0px auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .black {
            position: absolute;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.75%, #000000 100%);
            padding: 0 360px;
            box-sizing: border-box;

            .txt_box {
                margin-top: 242px;

                h1 {
                    margin: 0;
                    color: #fff;
                    font-size: 44px;
                    line-height: 56px;
                }

                h2 {
                    color: #E4E4E4;
                    font-size: 16px;
                    line-height: 16px;
                    margin-top: 20px;
                    font-weight: 300;
                }

            }

            .btn_box {
                width: 100%;
                margin-top: 56px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;

                .btn {
                    width: 190px;
                    height: 40px;
                    background: #003EC2;
                    border-radius: 20px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 16px;
                    margin-right: 24px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    transition: 0.1s;
                    color: #fff;
                    &:hover {
                        background: #0047df;
                    }
                    a{   
                        color: #fff;              

                    }
                    &:hover {
                        background: #0047df;
                    }

                    &.acitve {
                        background: #014df2;
                    }
                }

                .channel {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background: url(../img/main_channel.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    opacity: 1;
                    transition: 0.1s;

                    &:hover {
                        opacity: 0.7;
                    }

                    //background-size: cover;
                }
            }
        }

        video {
            z-index: -1;
            width: 160%;
        }
    }

}

main {
    width: 100%;

    section {
        width: 100%;
        box-sizing: border-box;
        padding: 0 360px;
        margin-bottom: 138px;

        &>h1 {
            font-size: 20px;
            color: #fff;
            font-weight: 600;
            margin-bottom: 24px;
        }
    }

    .onair_section {
        position: relative;


        box-sizing: border-box;
        margin-top: 200px;



        .items {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: stretch;
            overflow: hidden;

            .pre,
            .next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                border: 1px solid #ADADAD;
                border-radius: 100%;
            }

            .pre {
                left: 160px;
                background: url(../img/prev.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .next {
                right: 160px;
                background: url(../img/next.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }



            .item {
                width: 282px;

                flex: 0 1 23%;



                img {
                    width: 100%;
                }

                .txt_container {
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-top: 8px;

                    .channel1 {
                        background: url(../img/channel1.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    .channel2 {
                        background: url(../img/channel2.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    .channel3 {
                        background: url(../img/channel3.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    .channel4 {
                        background: url(../img/channel4.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    .channel {
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                    }

                    .txt {
                        display: flex;
                        flex-flow: column nowrap;
                        width: 220px;
                        justify-content: flex-start;
                        margin-left: 8px;

                        h1 {
                            font-size: 14px;
                            color: #fff;
                            font-weight: 300;
                            line-height: 16px;
                            margin: 0;
                        }

                        h2 {
                            font-size: 12px;
                            color: #C2C2C2;
                            font-weight: 300;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }

    .banner {

        height: 100px;
        background: url(../img/banner.png);
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 138px;
    }

    .song_section {
        nav {
            margin-top: 24px;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            &>div {
                width: 140px;
                height: 40px;
                color: #fff;
                font-size: 14px;
                text-align: center;
                line-height: 40px;
                border-radius: 10px;

                &:first-child {
                    background-color: #003EC2;
                }

                &.active {
                    background-color: #003EC2;
                }
            }
        }

        .items {
            width: 100%;
            margin-top: 32px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .item {
                width: 180px;
                margin-bottom: 24px;
                flex: 0 0 15%;

                img {
                    width: 100%;
                }

                .txt {
                    text-align: center;
                    margin-top: 8px;

                    h1 {
                        margin-bottom: 8px;
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 600;
                        color: #FFFFFF;
                    }

                    h2 {
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: 400;
                        color: #BFBFBF;
                    }
                }
            }


        }
    }

    .megazine_section {


        .items {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            img {
                width: 100%;
            }

            .item {
                position: relative;
                width: 282px;
                overflow: hidden;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                border-radius: 10px;

                &:nth-child(2n-1) {
                    background: linear-gradient(90deg, #350536 0%, #000D2B 100%);
                }

                &:nth-child(2n) {
                    background: linear-gradient(90deg, #000D2B 0%, #310132 100%);
                }

                flex: 0 0 23%;

                &:nth-child(1) .channel {
                    background: url(../img/channel1.png);
                }

                &:nth-child(2) .channel {
                    background: url(../img/channel2.png);
                }

                &:nth-child(3) .channel {
                    background: url(../img/channel3.png);
                }

                &:nth-child(4) .channel {
                    background: url(../img/channel4.png);
                }

                .channel {
                    position: absolute;
                    top: 52%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 64px;
                    height: 64px;
                    border-radius: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                }

                .txt {
                    width: 100%;
                    height: 160px;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    padding: 32px;
                    box-sizing: border-box;
                    text-align: center;

                    h1 {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 600;
                        color: #fff;
                        margin-bottom: 8px;
                    }

                    h2 {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        color: #D9D9D9;
                    }
                }
            }
        }

    }
}

footer {
    background: #0E0E0E;
    width: 100%;
    height: 235px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    &>div {
        &:first-child {
            height: 58px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
            border-bottom: 1px solid #4D4D4D;
            padding: 0 360px;
            box-sizing: border-box;

            .footer_nav {
                width: 280px;
                height: 100%;
                font-size: 14px;
                color: #989898;
                font-weight: 500;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

            }

        }

        &:last-child {
            padding: 0 360px;
            box-sizing: border-box;
            margin-top: 30px;

            ul {
                display: flex;
                flex-flow: row nowrap;
                color: #989898;
                list-style: none;
                justify-content: space-between;
                align-items: center;

                &.one {

                    width: 800px;
                    font-size: 12px;
                    margin-bottom: 8px;

                    li {
                        position: relative;


                        &::after {
                            content: "|";
                            position: absolute;
                            top: 50%;
                            right: -14px;
                            transform: translateY(-50%);
                        }
                    }
                }

                &.two {
                    width: 1000px;
                    font-size: 12px;
                    margin-bottom: 8px;
                }

                &.three {
                    width: 700px;
                    font-size: 12px;
                    margin-bottom: 8px;
                }
            }
        }
    }


}