@import "base";

body {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    //width: 100%;
    // overflow: hidden;
    overflow-x: hidden;
    background: linear-gradient(180deg, #010001 32.87%, #060006 43.41%, #010001 55.73%, #050105 69.79%, #0B000C 100%);
}

header {
    width: 100%;
    height: 440px;

    nav.gnb {


        .main_nav {

            li {

                &:nth-child(2) {
                    a {
                        color: #003EC2;
                        font-weight: 900;
                    }

                }
            }

        }
    }

    .img_container {
        z-index: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        margin: 0px auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .black {
            position: absolute;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #000000 80%, #000000 100%);
            padding: 0 360px;
            box-sizing: border-box;
            //z-index: -10;

            .txt_box {
                margin-top: 242px;

                h1 {

                    color: #fff;
                    font-size: 44px;
                    line-height: 56px;

                    span {
                        text-shadow: none;
                        padding: 0 8px;
                        box-sizing: border-box;
                        background: #fff;
                        color: #003EC2;
                        line-height: 50px;
                        font-weight: 900;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    }
                }

                h2 {
                    color: #E4E4E4;
                    font-size: 16px;
                    line-height: 16px;
                    margin-top: 20px;
                    font-weight: 300;
                }
            }
        }

        .background-image {
            z-index: -1;
            width: 100%;
            // background: url(../img/indieOn_background.pngs);
        }
    }

}

main {
    width: 100%;
    //overflow: hidden;
    // z-index: 1;

    section {
        width: 100%;
        box-sizing: border-box;
        padding: 0 360px;
        margin-bottom: 138px;
        overflow: hidden;

        &>h1 {
            font-size: 20px;
            color: #fff;
            font-weight: 600;
            margin-bottom: 24px;
        }

        &>nav {
            &.main_nav {
                width: 440px;
                height: 40px;
                margin-bottom: 24px;

                &>ul {
                    padding-left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        list-style: none;
                        width: 33%;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 10px;
                        color: #fff;
                        font-size: 14px;

                        &:first-child {
                            background: #003EC2;
                        }

                        .active {
                            background: #003EC2;
                        }
                    }
                }
            }

            &.sub_nav {
                width: 240px;
                height: 30px;
                margin-bottom: 32px;

                &>ul {
                    padding-left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        list-style: none;
                        width: 33%;
                        text-align: center;
                        line-height: 30px;
                        font-size: 13px;
                        color: #9E9E9E;

                        &:first-child {
                            color: #fff;
                        }

                        .active {
                            color: #fff;
                        }
                    }
                }
            }



        }
    }

    .song_section {
        position: relative;
        box-sizing: border-box;
        margin-top: 200px;

        .title {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;

            h1 {
                font-size: 32px;
                color: #fff;
                line-height: 36px;

            }

            h2 {
                font-size: 14px;
                line-height: 20px;
                color: #C1C0C0;
                font-weight: 300;
                letter-spacing: 1.2px;
            }
        }

        .items {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            &>ul {
                width: 100%;
                display: flex;
                margin-top: 56px;
                flex-flow: row nowrap;
                justify-content: space-between;
                list-style: none;

                li {
                    color: #fff;
                    font-size: 10px;
                    text-align: center;
                    color: #9C9C9C;
                }

                li:nth-child(1) {
                    width: 78px;
                }

                li:nth-child(2) {
                    width: 78px;
                }

                li:nth-child(3) {
                    width: 370px;
                }

                li:nth-child(4) {
                    width: 200px;
                }

                li:nth-child(5) {
                    width: 78*4px;
                    margin-left: 24px;

                    &>ul {

                        width: 100%;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        list-style: none;

                        li {
                            width: 78px;

                        }
                    }
                }
            }

            hr {
                &:nth-of-type(1) {
                    margin: 8px 0 24px 0;
                }

                margin-bottom: 24px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                width: 100%;

            }

            .item {
                width: 100%;
                height: 78px;
                margin-bottom: 24px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                color: #fff;

                .checkbox {
                    width: 78px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, 0);

                    &:checked {
                        background: rgba(0, 0, 0, 0);
                    }
                }

                .number {
                    width: 78px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .album {
                    width: 370px;
                    height: 100%;
                    flex-flow: row nowrap;
                    display: flex;
                    justify-content: space-between;

                    img {
                        width: 78px;
                    }

                    .info {
                        width: 260px;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;


                        h1 {

                            color: #fff;
                            font-size: 14px;
                            line-height: 16px;
                            margin-bottom: 8px;
                        }

                        h2 {
                            color: #9C9C9C;
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 400;
                        }
                    }
                }

                .album_name {
                    width: 200px;
                    height: 100%;
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .btn_box {
                    width: 78*4px;
                    height: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 24px;

                    &>div {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 30%;
                        }
                    }

                    .play {
                        width: 78px;
                        height: 100%;
                    }

                    .add {
                        width: 78px;
                        height: 100%;
                    }

                    .download {
                        width: 78px;
                        height: 100%;
                    }

                    .movie {
                        width: 78px;
                        height: 100%;
                    }
                }
            }
        }
    }

}

footer {
    background: #0E0E0E;
    width: 100%;
    height: 235px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    &>div {
        &:first-child {
            height: 58px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
            border-bottom: 1px solid #4D4D4D;
            padding: 0 360px;
            box-sizing: border-box;

            .footer_nav {
                width: 280px;
                height: 100%;
                font-size: 14px;
                color: #989898;
                font-weight: 500;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

            }

        }

        &:last-child {
            padding: 0 360px;
            box-sizing: border-box;
            margin-top: 30px;

            &>ul {
                display: flex;
                flex-flow: row nowrap;
                color: #989898;
                list-style: none;
                justify-content: space-between;
                align-items: center;

                &.one {

                    width: 800px;
                    font-size: 12px;

                    li {
                        position: relative;


                        &::after {
                            content: "|";
                            position: absolute;
                            top: 50%;
                            right: -14px;
                            transform: translateY(-50%);
                        }
                    }
                }

                &.two {
                    width: 1000px;
                    font-size: 12px;
                }

                &.three {
                    width: 700px;
                    font-size: 12px;
                }
            }
        }
    }
}