* {
  padding: 0px;
  margin: 0px;
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
  color: #fff;
}

header nav.gnb {
  z-index: 100000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header nav.gnb .logo {
  position: absolute;
  top: 50%;
  left: 360px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 54px;
}

header nav.gnb .logo img {
  width: 100%;
}

header nav.gnb .search_bar {
  width: 378px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 48px;
}

header nav.gnb .search_bar .input {
  width: 90%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  border: none;
}

header nav.gnb .search_bar .input:focus {
  border: none;
}

header nav.gnb .search_bar .search {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav.gnb .search_bar .search img {
  width: 90%;
}

header nav.gnb .main_nav {
  padding-left: 0;
  width: 318px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 48px;
}

header nav.gnb .main_nav li {
  list-style: none;
  font-size: 14px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header nav.gnb .main_nav li a {
  text-decoration: none;
  color: #fff;
}

header nav.gnb .main_nav li a:hover {
  color: #a0a0a0;
}

header nav.gnb .sub_nav {
  width: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav.gnb .sub_nav img {
  width: 24px;
}

body {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32.87%, #010001), color-stop(43.41%, #060006), color-stop(55.73%, #010001), color-stop(69.79%, #050105), to(#0B000C));
  background: linear-gradient(180deg, #010001 32.87%, #060006 43.41%, #010001 55.73%, #050105 69.79%, #0B000C 100%);
}

header {
  width: 100%;
  height: 440px;
}

header nav.gnb .main_nav li:nth-child(2) a {
  color: #003EC2;
  font-weight: 900;
}

header .img_container {
  z-index: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .img_container .black {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0)), color-stop(80%, #000000), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #000000 80%, #000000 100%);
  padding: 0 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .img_container .black .txt_box {
  margin-top: 242px;
}

header .img_container .black .txt_box h1 {
  color: #fff;
  font-size: 44px;
  line-height: 56px;
}

header .img_container .black .txt_box h1 span {
  text-shadow: none;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  color: #003EC2;
  line-height: 50px;
  font-weight: 900;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

header .img_container .black .txt_box h2 {
  color: #E4E4E4;
  font-size: 16px;
  line-height: 16px;
  margin-top: 20px;
  font-weight: 300;
}

header .img_container .background-image {
  z-index: -1;
  width: 100%;
}

main {
  width: 100%;
}

main section {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 360px;
  margin-bottom: 138px;
  overflow: hidden;
}

main section > h1 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 24px;
}

main section > nav.main_nav {
  width: 440px;
  height: 40px;
  margin-bottom: 24px;
}

main section > nav.main_nav > ul {
  padding-left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section > nav.main_nav > ul li {
  list-style: none;
  width: 33%;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}

main section > nav.main_nav > ul li:first-child {
  background: #003EC2;
}

main section > nav.main_nav > ul li .active {
  background: #003EC2;
}

main section > nav.sub_nav {
  width: 240px;
  height: 30px;
  margin-bottom: 32px;
}

main section > nav.sub_nav > ul {
  padding-left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section > nav.sub_nav > ul li {
  list-style: none;
  width: 33%;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  color: #9E9E9E;
}

main section > nav.sub_nav > ul li:first-child {
  color: #fff;
}

main section > nav.sub_nav > ul li .active {
  color: #fff;
}

main .song_section {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 200px;
}

main .song_section .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .song_section .title h1 {
  font-size: 32px;
  color: #fff;
  line-height: 36px;
}

main .song_section .title h2 {
  font-size: 14px;
  line-height: 20px;
  color: #C1C0C0;
  font-weight: 300;
  letter-spacing: 1.2px;
}

main .song_section .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .song_section .items > ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 56px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

main .song_section .items > ul li {
  color: #fff;
  font-size: 10px;
  text-align: center;
  color: #9C9C9C;
}

main .song_section .items > ul li:nth-child(1) {
  width: 78px;
}

main .song_section .items > ul li:nth-child(2) {
  width: 78px;
}

main .song_section .items > ul li:nth-child(3) {
  width: 370px;
}

main .song_section .items > ul li:nth-child(4) {
  width: 200px;
}

main .song_section .items > ul li:nth-child(5) {
  width: 312px;
  margin-left: 24px;
}

main .song_section .items > ul li:nth-child(5) > ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

main .song_section .items > ul li:nth-child(5) > ul li {
  width: 78px;
}

main .song_section .items hr {
  margin-bottom: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}

main .song_section .items hr:nth-of-type(1) {
  margin: 8px 0 24px 0;
}

main .song_section .items .item {
  width: 100%;
  height: 78px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

main .song_section .items .item .checkbox {
  width: 78px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0);
}

main .song_section .items .item .checkbox:checked {
  background: rgba(0, 0, 0, 0);
}

main .song_section .items .item .number {
  width: 78px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .song_section .items .item .album {
  width: 370px;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .song_section .items .item .album img {
  width: 78px;
}

main .song_section .items .item .album .info {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .song_section .items .item .album .info h1 {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

main .song_section .items .item .album .info h2 {
  color: #9C9C9C;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

main .song_section .items .item .album_name {
  width: 200px;
  height: 100%;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .song_section .items .item .btn_box {
  width: 312px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
}

main .song_section .items .item .btn_box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .song_section .items .item .btn_box > div img {
  width: 30%;
}

main .song_section .items .item .btn_box .play {
  width: 78px;
  height: 100%;
}

main .song_section .items .item .btn_box .add {
  width: 78px;
  height: 100%;
}

main .song_section .items .item .btn_box .download {
  width: 78px;
  height: 100%;
}

main .song_section .items .item .btn_box .movie {
  width: 78px;
  height: 100%;
}

footer {
  background: #0E0E0E;
  width: 100%;
  height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer > div:first-child {
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #4D4D4D;
  padding: 0 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer > div:first-child .footer_nav {
  width: 280px;
  height: 100%;
  font-size: 14px;
  color: #989898;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > div:last-child {
  padding: 0 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
}

footer > div:last-child > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  color: #989898;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > div:last-child > ul.one {
  width: 800px;
  font-size: 12px;
}

footer > div:last-child > ul.one li {
  position: relative;
}

footer > div:last-child > ul.one li::after {
  content: "|";
  position: absolute;
  top: 50%;
  right: -14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer > div:last-child > ul.two {
  width: 1000px;
  font-size: 12px;
}

footer > div:last-child > ul.three {
  width: 700px;
  font-size: 12px;
}
/*# sourceMappingURL=song.css.map */